@mixin font-face($font-family, $font-size, $font-style, $font-weight, $font-src) {
  @font-face {
    font-family: $font-family;
    font-size: $font-size;
    font-style: $font-style;
    font-weight: $font-weight;
    src: $font-src;
    font-display: swap;
  }
}
