.catalog {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
  }

  // @media (min-width: $desktop-width) {

  // }
}

.catalog__title {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 80px;

    &.decor::after {
      display: none;
    }
  }
}

.catalog-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    gap: 80px;
  }
}


.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

