.copyright {
  display: flex;
  align-items: center;
  position: relative;
}

.copyright__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    height: 37px;
    align-self: center;
  }
}

.copyright__text {
  margin: 0;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $secondary-text-color;
  padding-top: 7px;

  @media (min-width: $tablet-width) {
    margin-right: 50px;
    align-self: center;
    padding-top: 0;
  }
}

.copyright::after {
  content: "";
  position: absolute;
  right: 0;
  top: 20px;
  width: 27px;
  height: 34px;
  background-image: url("../../icons/logo_html.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 0;
  }
}
