.copyright {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.copyright__link {
  text-decoration: none;
  // align-items: center;
  // justify-content: center;
  height: 37px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: $transition;

  @media (min-width: $tablet-width) {
    align-self: center;
  }
}

.copyright__text {
  margin: 0;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: $secondary-text-color;

  @media (min-width: $tablet-width) {
    margin-right: 50px;
    align-self: center;
  }
}

.copyright__link::after {
  content: "";
  position: absolute;
  background-color: $one-of-dark;
  right: 0;
  top: 0;
  width: 27px;
  height: 34px;
  mask-image: url("../../icons/logo_html.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  cursor: pointer;
  transition: $transition;
}

.copyright__link:hover::after {
  background-color: $brand-hue;
}

.copyright__link:focus::after {
  background-color: $brand-hue;
}

.copyright__link:active::after {
  background-color: rgba(104, 183, 56, 0.7);
}

.copyright__text:active {
  color: rgba(68, 68, 68, 0.7);
}
