.example {
  background-color: $contrast-brand-hue;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, $contrast-brand-hue 43%, transparent 43%);
    background-color: $background-color;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to top, $contrast-brand-hue 69%, transparent 69%);

    & .container {
      margin: 0;
    }
  }
}

.example__wrapper {

  padding: 0 20px 40px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 224px;
    padding: 0 110px 76px;
  }
}

.example__title {
  padding-top: 25px;
  line-height: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 77px;
    padding-bottom: 76px;
  }
}

.example__text {
  margin: 0;
  color: $secondary-text-color;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    line-height: 24px;
    padding-bottom: 55px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 69px;
  }
}

.example__stats {
  @media (min-width: $tablet-width) {
    padding-bottom: 100px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.example__img-container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 102px;
    padding-bottom: 102px;
  }

  @media (min-width: $desktop-width) {
    background: none;
    padding-top: 0;
    padding-bottom: 11px;
    margin-top: auto;
  }
}

.example__slider {
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.example__img--before {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
  clip-path: inset(0 50% 0 0);
}

.example__img--after {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
  clip-path: inset(0 0 0 50%);
}

.example-curtain {
  z-index: 1;
  grid-area: 1 / 1 / 2 / 2;
  place-self: center center;
  margin: 0 -2px;
  width: 4px;
  height: 100%;
  border-radius: 2px;

  background-color: $one-of-dark;
  cursor: col-resize;
  transition: $transition;

  display: grid;
}


.example__button {
  height: 40px;
  width: 40px;
  place-self: center center;
  background-color: $background-color;
  border: 2px solid $one-of-dark;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: $transition;
}

.example__button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  mask-image: url("../../icons/slider_arrow.svg");
  mask-size: 24px 18px;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: $one-of-dark;
}


.example-curtain:hover {
  background-color: $slider-control-hover;

  & .example__button {
    border-color: $slider-control-hover;
  }

  & .example__button::before {
    background-color: $slider-control-hover;
  }
}

.example-curtain:active {
  opacity: $slider-control-active-opacity;
  background-color: $slider-control-active-color;

  & .example__button {
    border-color: $slider-control-active-color;
  }

  & .example__button::before {
    background-color: $slider-control-active-color;
  }
}
