.hero {
  text-align: center;

  @media (min-width: $tablet-width) {
    // padding-top: 65px;
    text-align: start;
  }
}

.hero__wrapper {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  // @media (min-width: $tablet-width) {
  //   display: grid;
  //   grid-template-columns: repeat(8, 1fr);
  //   grid-template-rows: repeat(4, 1fr);
  //   grid-column-gap: 33px;
  // }
}

.hero__wrapper--img {
  position: relative;
  background-image:
    linear-gradient(90deg,
    rgba(104, 183, 56, 1) 29%,
    rgba(104, 183, 56, 0.85) 30%,
    rgba(104, 183, 56, 1) 81%,
    rgba(104, 183, 56, 1) 100%),
    url("../../images/index-background-mobile@1x.png");

  background-repeat: no-repeat;
  width: 100%;
  height: 302px;
  background-size: contain;
  background-position: center;
  z-index: 1;

  @media (min-width: $tablet-width) {
    background-image: none;
    // grid-column: 2 / 7;
    // grid-row: 1 / 5;
  }
}

.hero__wrapper--img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;

  z-index: 2;
}
// @media (min-width: $tablet-width) {
//   background-color: transparent;
// }


.hero__content {
  padding-top: 27px;
  z-index: 3;
  position: relative;
}

.hero__title {

  color: $contrast-text-color;
  margin-bottom: 25px;


  @media (min-width: $tablet-width) {
    color: $main-text-color;
    margin-bottom: 40px;
  }
}

.hero__slogan {
  margin: 0;
  color: $contrast-text-color;
  text-transform: uppercase;
  line-height: 14px;


  @media (min-width: $tablet-width) {
    color: $main-text-color;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }
}

.hero__img {
  position: relative;
  margin-top: -136px;
  z-index: 4;
  grid-row: 2 / 3;
  // @media (min-width: $tablet-width) {
  //   grid-column: 2 / 8;
  //   grid-row: 5 / 13;
  // }
}

.hero__button {
  width: 100%;
  z-index: 2;
  position: relative;
  grid-row: 3 / 4;


  // @media (min-width: $tablet-width) {
  //   // width: 30%;
  //   grid-column: 2 / 5;
  //   grid-row: 5 / 5;
  //   z-index: 1;
  //   font-size: 20px;
  //   line-height: 26px;
  //   padding-top: 14px;
  //   padding-bottom: 14px;
  // }
}
