.hero {
  font-family: $secondary-font;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 20px;
  z-index: 2;
  grid-column: 1 / -1;
  grid-row: 2 / 3;


  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    text-align: left;
    padding: 40px 0 0;
    background: none;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    z-index: auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    padding-bottom: 82px;
  }
}

.hero--container {
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85) 60%,
    #ffffff 60%),
    image-set(
      url("../../images/index-background-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/index-background-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/index-background-mobile@1x.png") type("image/png") 1x,
      url("../../images/index-background-mobile@2x.png") type("image/png") 2x
    ),
    linear-gradient(90deg, #4f4e54 50%, #424147 50%);
  background-position-x: 50%;
  background-position-y: 0;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background: none;
    grid-row: 3 / 4;
    z-index: auto;
  }
}

.hero__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-left: 120px;
    padding-right: 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 85px 50px 0 190px;
  }
}

.hero__title {
  color: $contrast-text-color;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    color: $main-text-color;
    margin-bottom: 40px;
  }
}

.hero__slogan {
  margin: 0;
  color: $contrast-text-color;
  text-transform: uppercase;
  line-height: 14px;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    color: $main-text-color;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }
}

.hero picture {
  @media (min-width: $tablet-width) {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    width: 709px;
    height: 609px;
    margin-top: -31px;
    margin-left: 48px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    width: 552px;
    height: 499px;
    margin: 0 0 53px -165px;
  }
}

.hero__img {
  display: block;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  grid-row: 3 / 4;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    z-index: auto;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
  }
}

.hero__button {
  text-align: center;
  max-width: 100%;
  grid-row: 4 / 5;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    cursor: pointer;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: fit-content;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 26px;
    z-index: 5;
    margin-left: 120px;
    margin-right: 100px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2 / 3;
    margin-left: 190px;
    margin-right: 50px;
  }
}
