.logo__img {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  place-self: center start;
}

.logo__text {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    align-content: center;
    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    & img {
      width: 118px;
      height: 21px;
    }
  }
}

// .logo:hover {
//   @include logo-hover;
// }

// .logo:active {
//   @include logo-active;
// }
