.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    padding: 0 110px;
  }
}

.main-nav__toggle {
  place-self: center end;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__details {
  list-style: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__details[open] .toggle {
  background-image: url("../../icons/toggle_close.svg");
}

.main-nav__details:not([open]) .toggle {
  background-image: url("../../icons/toggle_open.svg");
}

.main-nav__details[open] .main-nav__list {
  display: block;
}
