.main-footer {
  background-color: $contrast-brand-hue;
}

.main-footer__wrapper {
  padding: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 45px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 56px 110px;
  }
}

.main-footer__logo {
  flex-shrink: 0;
  justify-content: center;
  padding: 20px 0;

  & img {
    width: 128px;
    height: 24px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    height: 37px;

    &.decor::after {
      display: none;
    }
  }
}

.main-footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    max-width: 250px;

    &.decor::after {
      display: none;
    }
  }
}

.main-footer__copyright {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
