// .main-nav {
//   @media (min-width: $tablet-width) {
//     margin-left: auto;
//     display: block;
//   }
// }

.main-nav__toggle {
  place-self: center end;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}
