.map {
  display: flex;
  flex-direction: column;
  position: relative;
}

.map__img {
  height: 100%;
  object-fit: cover;
}

.map__container {
  order: -1;
}

.map__container--catalog {
  background-color: $contrast-brand-hue;
}
