.pagination {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  position: relative;


  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    border: 2px solid $contrast-brand-hue;
    margin-top: auto;
    padding: 50px 37px 40px;
    height: 430px;

    &.decor::after {
      display: none;
    }

    @media (min-width: $desktop-width) {
      padding: 50px 37px 40px;
    }
  }
}

.pagination::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../../icons/pagination_plus.svg");
  margin: 0 auto;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}

.pagination__link {
  margin-top: 23px;
  text-decoration: none;
  // display: block;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
  }

  // @media (min-width: $desktop-width) {
  // }
}

.pagination__title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $special-dark;
  text-transform: uppercase;
  padding-bottom: 8px;
  transition: $transition;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 23px;
    width: 170px; // надо перенести в html
  }
}

.pagination__title:hover {
  @include pagination-catalog-hover;
}

.pagination__title:active {
  @include pagination-catalog-active;
}

.pagination__text {
  margin: 0;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  color: $secondary-text-color;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 80px;
    width: 170px; // надо перенести в html
  }
}

.pagination__button {
  grid-column: 1 / -1;
  width: 100%;
  color: $secondary-text-color;
  background-color: $contrast-brand-hue;
}
