.social {
  margin: 0;
  list-style: none;
}

// .social__item {}

.social__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
  }
}

.social-icon {
  color: $one-of-dark;
  transition: $transition;
}

.social__link:hover .social-icon {
  @include social-hover;
}

.social__link:focus .social-icon {
  @include social-hover;
}

.social__link:active .social-icon {
  @include social-active;
}
