.social {
  margin: 0;
  list-style: none;
}

// .social__item {}

.social__link {
  text-decoration: none;
  color: inherit;


  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
  }
}

.social__link:hover {
  @include social-hover;
}

// .social__img {}
