.subscribe {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 96px;
    padding-bottom: 104px;
  }
}

.subscribe__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.subscribe__title {
  margin: 0;
  padding-bottom: 32px;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    padding-bottom: 66px;
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 72px;
    font-size: 40px;
    line-height: 40px;
  }
}

.subscribe__lead {
  margin: 0;
  padding-bottom: 24px;
  text-align: center;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    margin: 0 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.subscribe-form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0 auto;
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    width: 752px;
  }
}

.subscribe__input {
  width: 100%;
  text-transform: uppercase;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  padding: 13px;
  color: $secondary-text-color;
  border: 1px solid $other-dark;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin: 0;
    grid-column: 1 / 2;
  }
}

.subscribe__button {
  width: 100%;
  padding: 14px 26px;
  font-size: 20px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    min-width: 256px;
  }
}
