.title-container-line {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.title-container-line__inner {
  position: relative;
  display: inline-block;
  padding-left: 10px;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
  }
}

.title-container-line::before,
.title-container-line::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 2px;
  background-color: $brand-hue;
  transform: translateY(calc(24px / 2));
  z-index: -1;

  @media (min-width: $tablet-width) {
    transform: translateY(calc(32px / 2));
  }

  @media (min-width: $desktop-width) {
    transform: translateY(calc(40px / 2));
  }
}

.title-container-line::before {
  left: 0;
}

.title-container-line::after {
  right: 0;
}

.title-container-line__title {
  display: inline-block;
  position: relative;
  z-index: 1;
  background-color: $contrast-text-color;
  padding-left: 10px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
