.toggle {
  background-repeat: no-repeat;
  width: 28px;
  height: 24px;
  border: none;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

// .toggle--open {
//   background-image: url("../../icons/toggle_open.svg");

//   @media (min-width: $tablet-width) {

//     display: none;
//   }
// }

// .toggle--close {
//   background-image: url("../../icons/toggle_close.svg");

//   @media (min-width: $tablet-width) {

//     display: none;
//   }
// }
